# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
venv/

# Environment variables
.env

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS files
.DS_Store

# Generated models
models/*.pkl

# Raw experimental data
data/raw/*
!data/raw/.gitkeep
# Local backup files
*.backup
